<h1>
  <img src="http://openweathermap.org/img/w/<%= @icon %>.png" alt="weather icon">
  <%= @result %>
</h1>

<h2>Location: <%= @lat %>, <%= @lon %></h2>
<h2>Wind: <%= @wind_speed %>km from <%= @wind_direction %> </h2>
<h2>Min temp right now: <%= @min_temp.round %> deg</h2>
<h2>Max temp right now: <%= @max_temp.round %> deg</h2>
